<section id="awards" class="p-3 p-lg-5">
    <div class="container">
        <div class="row">
            <h2 class="my-md-5 text-center mb-3">Awards</h2>
            <div class="col-md-6">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src=" img/junction2021.jpg" alt="JunctionX Seoul 2021 SIA Track Third Place Certificate"
                                 class="img-fluid rounded-start" data-aos="fade-up" data-aos-delay="100"
                                 data-aos-anchor-placement="top-bottom">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" data-aos="fade-up" data-aos-delay="200"
                                    data-aos-anchor-placement="top-bottom">JunctionX Seoul 2021 SI Analytics 3rd
                                    Winner</h5>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="300"
                                   data-aos-anchor-placement="top-bottom">3rd place in Satellite Image Analysis track
                                    with
                                    AI-powered web application able to track changes in the urban landscape</p>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="400"
                                   data-aos-anchor-placement="top-bottom"><small class="text-muted">21 - 23 of May,
                                    2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/IEEE_diploma.png"
                                 alt="IEEE Seoul Section Student Paper Contest 2020 Bronze Diploma"
                                 class="img-fluid rounded-start" data-aos="fade-up" data-aos-delay="400"
                                 data-aos-anchor-placement="top-bottom">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" data-aos="fade-up" data-aos-delay="500"
                                    data-aos-anchor-placement="top-bottom">IEEE Seoul Section Student Paper Contest
                                    Bronze
                                    Award</h5>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="600"
                                   data-aos-anchor-placement="top-bottom">For paper «The Optimal Operation of Energy
                                    Storage
                                    System with Distributed Generators by Using Data-based Prediction Method»</p>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="700"
                                   data-aos-anchor-placement="top-bottom"><small class="text-muted">12th of December,
                                    2020</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/junction2020.jpg" alt="JunctionX Seoul 2020 SIA Track Third Place Certificate"
                                 class="img-fluid rounded-start" data-aos="fade-up" data-aos-delay="700"
                                 data-aos-anchor-placement="top-bottom">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" data-aos="fade-up" data-aos-delay="800"
                                    data-aos-anchor-placement="top-bottom">JunctionX Seoul 2020 SI Analytics 3rd
                                    Winner</h5>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="900"
                                   data-aos-anchor-placement="top-bottom">3rd place in Satellite Image Analysis track
                                    with
                                    project natural disaster tracker SmartMonitor</p>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="1000"
                                   data-aos-anchor-placement="top-bottom"><small class="text-muted">9 - 11th of October,
                                    2020</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/2021_KIEE_Award.png"
                                 alt="KIEE graduate students' outstanding paper 2021 Diploma"
                                 class="img-fluid rounded-start" data-aos="fade-up" data-aos-delay="1000"
                                 data-aos-anchor-placement="top-bottom">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" data-aos="fade-up" data-aos-delay="1100"
                                    data-aos-anchor-placement="top-bottom">52nd KIEE Summer Conference 2021 Graduate
                                    Students' Outstanding Paper Award</h5>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="1200"
                                   data-aos-anchor-placement="top-bottom">Excellence Prize</p>
                                <p class="card-text" data-aos="fade-up" data-aos-delay="1300"
                                   data-aos-anchor-placement="top-bottom"><small class="text-muted">14 - 17th of July,
                                    2021</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>