<section class="p-3 p-lg-5" id="edu-exp">
    <div class="container">
        <div class="row">
            <h2 class="mb-3 my-md-5 text-center">Experience</h2>
            <div class="col-md-12 pt-3">
                <ul class="timeline timeline-split">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="200">Jan 2022 - Present</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="100"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="100">
                            <h4 class="timeline-title" data-aos="fade-left" data-aos-delay="200">KMS Lighthouse</h4>
                            <p data-aos="fade-left" data-aos-delay="200">Back End Developer</p>
                            <ul data-aos="fade-left" data-aos-delay="200">
                                <li>Working in an international team to bring the best user experience of knowledge access;</li>
                                <li>Developing and supporting the search system of the product.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="400">Oct 2020 - Dec 2021</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="300"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="300">
                            <h4 class="timeline-title" data-aos="fade-left" data-aos-delay="400">Transneft Technology</h4>
                            <p data-aos="fade-left" data-aos-delay="400">Software Engineer</p>
                            <ul data-aos="fade-left" data-aos-delay="400">
                                <li>Enterprise content management systems development including both backend (Java EE) and frontend (GWT, JavaScript, Dojo);</li>
                                <li>IBM FileNet platform integration development;</li>
                                <li>Documentation writing;</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="800">Feb 2020 - Apr 2020</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="700"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="700">
                            <h4 class="timeline-title" data-aos="fade-left" data-aos-delay="800">ISPsystem</h4>
                            <p data-aos="fade-left" data-aos-delay="800">Internship</p>
                            <ul data-aos="fade-left" data-aos-delay="800">
                                <li>Practiced GoLang in backend development;</li>
                                <li>Learnt git and unit-testing;</li>
                                <li>Assisted in VMmanager import service development;</li>
                                <li>Participated in software development using Agile development process.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>