<section class="p-3 p-lg-5" id="edu-exp">
    <div class="container">
        <div class="row">
            <h2 class="mb-1 text-center">Experience</h2>
            <h5 class="mb-3 my-md-5 text-center">Junior+, <span id="time"></span></h5>
            <div class="col-md-12 pt-3">
                <ul class="timeline timeline-split">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="200">Jan 2022 - Present</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="100"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="100">
                            <a href="https://www.kmslh.com/" target="_blank"><img class="timeline-title pb-1"
                                                                                  data-aos="fade-left"
                                                                                  data-aos-delay="200"
                                                                                  height="29px"
                                                                                  src="img/kms.png"/></a>
                            <p data-aos="fade-left" data-aos-delay="200">Back End Developer (Junior+)</p>
                            <ul data-aos="fade-left" data-aos-delay="200">
                                <li>Working in an international team to bring the best user experience of knowledge
                                    access;</li>
                                <li>Learning Spring, Solr, Mockito, JUnit;</li>
                                <li>Fixing bugs of KMS Lighthouse search system on BE side.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="400">Oct 2020 - Jan 2022</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="300"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="300">
                            <h5 class="timeline-title" data-aos="fade-left" data-aos-delay="400">Transneft
                                Technology</h5>
                            <p data-aos="fade-left" data-aos-delay="400">Software Engineer</p>
                            <ul data-aos="fade-left" data-aos-delay="400">
                                <li>Worked in a small development team;</li>
                                <li>Developed several components for ECM system including FE (Dojo, GWT, JS) and BE (Java, Groovy) part;</li>
                                <li>Fixed different FE/BE bugs;</li>
                                <li>Worked on IBM FileNet integration;</li>
                                <li>Learnt how to work with IBM WebSphere and deploy web apps onto it;</li>
                                <li>Made Groovy scripts to migrate data inside IBM FileNet system;</li>
                                <li>Enjoyed legacy Java code a lot.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span data-aos="fade-left" data-aos-delay="800">Feb 2020 - Apr 2020</span>
                        </div>
                        <div class="timeline-marker" data-aos="fade-up" data-aos-delay="700"></div>
                        <div class="timeline-content" data-aos="fade-up" data-aos-delay="700">
                            <a href="https://www.ispsystem.com/" target="_blank"><img class="timeline-title pb-1"
                                                                                      data-aos="fade-left"
                                                                                      data-aos-delay="800" height="29px"
                                                                                      src="img/isp.svg"/></a>
                            <p data-aos="fade-left" data-aos-delay="800">Back End Developer Intern</p>
                            <ul data-aos="fade-left" data-aos-delay="800">
                                <li>Practiced GoLang in backend development;</li>
                                <li>Learnt basics of git and unit-testing;</li>
                                <li>Assisted in VMmanager migration service development.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>