<footer class="bg-dark text-white text-center">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn text-white btn-floating m-1" target="_blank" href="https://www.facebook.com/nrusetski/" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn text-white btn-floating m-1" target="_blank" href="https://www.instagram.com/nrusetski/" role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1" target="_blank" href="https://linkedin.com/in/xtenzq" role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn text-white btn-floating m-1" target="_blank" href="https://github.com/xtenzQ" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
        © 2021 Nikita Rusetskii
    </div>
    <!-- Copyright -->
</footer>