<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="#00b7d5" name="theme-color"/>
<!-- Info  -->
<meta content="Just a guy with passion for coding"
      name="description">
<meta content="software developer, software engineer, backend developer, fullstack developer, machine learning engineer,
    AI researcher, developer portfolio" name="keywords">
<meta content="Nikita Rusetskii" name="author">
<!-- Meta sharing -->
<meta content="Nikita RUSETSKII - Software Engineer" property="og:title">
<meta content="Just a guy with passion for coding" property="og:description">
<meta content="https://rusetskii.dev/" property="og:url">
<!-- Favicon -->
<link href="favicon.ico" rel="shortcut icon" type="image/png"/>
<!-- Main stylesheet -->
<link href="css/main.css" rel="stylesheet">
<script src="main.js"></script>
<title>Nikita RUSETSKII - Software Engineer</title>