<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="#00b7d5" name="theme-color"/>
<!-- Info  -->
<meta content="Just a guy with passion for coding" name="description">
<meta content="software developer, software engineer, backend developer, fullstack developer, machine learning engineer,
    AI researcher, developer portfolio" name="keywords">
<meta content="Nikita Rusetskii" name="author">

<!--  Essential META Tags -->
<meta property="og:title" content="Nikita RUSETSKII - Backend Developer">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://rusetskii.dev/img/preview.jpg">
<meta property="og:url" content="https://rusetskii.dev/">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:description" content="Just a guy with passion for coding">
<meta property="og:site_name" content="Nikita RUSETSKII - Backend Developer">

<!-- Meta sharing -->
<meta content="Nikita RUSETSKII - Backend Developer" property="og:title">
<meta content="Just a guy with passion for coding" property="og:description">
<meta content="https://rusetskii.dev/" property="og:url">
<!-- Favicon -->
<link href="favicon.ico" rel="shortcut icon" type="image/png"/>
<!-- Main stylesheet -->
<link href="css/main.css" rel="stylesheet">
<title>Nikita RUSETSKII - Software Engineer</title>