<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/head.html"></module>
</head>
<body data-bs-spy="scroll" data-bs-target="#main-nav" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <module href="/nav.html"></module>
    <module href="/hero.html"></module>
    <module href="/skills.html"></module>
    <module href="/edu-exp.html"></module>
    <module href="/research.html"></module>
    <module href="/awards.html"></module>
    <module href="/projects.html"></module>
    <module href="/footer.html"></module>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script>
        AOS.init({disable: 'mobile'});
    </script>
</body>
</html>