<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/head.html"></module>
</head>
<body class="scrollspy-example" data-bs-offset="0" data-bs-spy="scroll" data-bs-target="#main-nav" tabindex="0">
<module href="/nav.html"></module>
<module href="/hero.html"></module>
<module href="/skills.html"></module>
<module href="/edu-exp.html"></module>
<module href="/research.html"></module>
<module href="/awards.html"></module>
<module href="/projects.html"></module>
<module href="/footer.html"></module>
<script src="main.js"></script>
</body>
</html>