<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="main-nav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img class="logo" alt="rusetskii.dev logo" src="img/logo.png"/>
        </a>
        <button aria-controls="navbar4" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar4" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-white" id="navbar4">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-lg-2"><a class="nav-link" href="#hero">home</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="#skills">skills</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="#edu-exp">experience</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="#research">research</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="#awards">awards</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="#projects">projects</a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="https://xtenzq.github.io/blog">blog<i
                        class="ps-2 fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li class="nav-item px-lg-2"><a class="nav-link" href="https://xtenzq.github.io/cv">cv<i
                        class="ps-2 fa-solid fa-arrow-up-right-from-square"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
