<section class="p-3 p-lg-5" id="projects">
    <div class="container">
        <h2 class="my-md-5 text-center mb-3">Projects</h2>
        <div class="project-cards row">
            <div class="col-12 col-lg-4 mb-3 mb-md-5">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/ml-lab.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="https://compvis.ru/">
                            <h5 class="card-title font-weight-bold">Machine Learning Lab Website</h5>
                            <p class="card-text">Website for research interinstitutional group Machine Learning, Computer Vision, and Dynamic Systems</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="https://compvis.ru/">Machine Learning Lab Website</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">Bootstrap</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/smartchange.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="https://github.com/xtenzQ/SmartChange">
                            <h5 class="card-title font-weight-bold">JunctionX Seoul 2021 Project</h5>
                            <p class="card-text">Third winner in SIA track of JunctionX Seoul 2021 hackathon. AI-powered
                                web application able to track changes in the urban landscape.</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="https://github.com/xtenzQ/SmartChange">SmartChange</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">Python</span>
                            <span class="tag">Vue.js</span>
                            <span class="tag">Flask</span>
                            <span class="tag">PyTorch</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="300" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/smartmonitor.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="https://github.com/xtenzQ/SmartMonitor">
                            <h5 class="card-title font-weight-bold">JunctionX Seoul 2020 Project</h5>
                            <p class="card-text">Third winner in SIA track of JunctionX Seoul 2020 hackathon. Detects
                                damaged building by natural disasters and get a brief information about it.</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="https://github.com/xtenzQ/SmartMonitor">SmartMonitor</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">C#</span>
                            <span class="tag">ASP.NET Core</span>
                            <span class="tag">OpenCV</span>
                            <span class="tag">Tensorflow</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="400" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/cameraai.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="#projects">
                            <h5 class="card-title font-weight-bold">CCTV analysis software</h5>
                            <p class="card-text">Software made to analyze long video by showing timecodes where people were detected.</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="#projects">CCTV analysis software</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">Python</span>
                            <span class="tag">PyQt 5</span>
                            <span class="tag">OpenCV</span>
                            <span class="tag">Tensorflow</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="500" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/ezkey.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="#projects">
                            <h5 class="card-title font-weight-bold">Employee monitoring software</h5>
                            <p class="card-text">Employee monitoring software with remote control tool made to prevent corporate secrets to be revealed by company employees</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="#projects">Employee monitoring software</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">C#</span>
                            <span class="tag">NET</span>
                            <span class="tag">API Hooks</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="card rounded-0 border-0 shadow-sm mb-lg-0" data-aos="fade-up" data-aos-delay="600" data-aos-anchor-placement="top-bottom">
                    <div class="card-img-container position-relative">
                        <img alt="" class="card-img-top rounded-0" src="img/metaballs.png">
                        <a class="card-img-overlay overlay-content text-start p-lg-4"
                           href="https://github.com/xtenzQ/2D-metaballs">
                            <h5 class="card-title font-weight-bold">2D metaballs</h5>
                            <p class="card-text">Two dimensional metaballs implementation using Java and OpenGL</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-truncate text-center mb-0">
                            <a class="text-link" href="https://github.com/xtenzQ/2D-metaballs">2D metaballs</a>
                        </h4>
                    </div>
                    <div class="text-center">
                        <div class="tags mb-3 has-text-weight-semibold">
                            <span class="tag">Java</span>
                            <span class="tag">OpenGL</span>
                        </div>
                    </div>
                </div><!--//card-->
            </div>
        </div><!--//row-->
        <div class="text-center">
            <a class="btn btn-primary" target="_blank" href="https://github.com/xtenzQ">My projects at GitHub</a>
        </div>
    </div><!--///container-->
</section>