<section id="research" class="p-3 p-lg-5">
    <div class="container">
        <div class="row">
            <h2 class="my-md-5 text-center">Research</h2>
            <div class="content has-text-justified pt-3" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom"> I'm doing my research in managing cyber-physical systems of
                distributed microgrids based on machine learning methods. I'm a part of the <i aria-hidden="true"
                                                                                               class="fa-flask fas"></i>
                <a class="has-text-weight-semibold" href="http://compvis.isu.ru/?page_id=1464&amp;lang=en">Machine
                    Learning, Computer Vision, and Dynamic Systems group</a> of <i aria-hidden="true"
                                                                                 class="fa-user-graduate fas"></i> <a
                        class="has-text-weight-semibold" href="http://www.mathnet.ru/eng/person17845">DSc. Denis
                    Sidorov</a> and currently enrolled in a postgraduate program. Also, I'm working in collaboration
                with researchers from <i aria-hidden="true" class="fa-flask fas"></i> <a
                        class="has-text-weight-semibold" href="https://sites.google.com/view/inhapower">Intelligent
                    Power Grid Lab</a> of Inha University (Incheon, Republic of Korea).
            </div>
        </div>
    </div>
</section>