<section id="research" class="p-3 p-lg-5">
    <div class="container">
        <div class="row mb-md-4">
            <h2 class="my-md-5 text-center">Research</h2>
            <div class="content has-text-justified pt-3 mb-3" data-aos="fade-up" data-aos-delay="100"
                 data-aos-anchor-placement="top-bottom"> I'm doing my research in managing cyber-physical systems of
                distributed microgrids based on machine learning methods. I'm a part of the <i aria-hidden="true"
                                                                                               class="fa-flask fas"></i>
                <a class="has-text-weight-semibold" href="http://compvis.isu.ru/?page_id=1464&amp;lang=en">Machine
                    Learning, Computer Vision, and Dynamic Systems group</a> of <i aria-hidden="true"
                                                                                   class="fa-user-graduate fas"></i> <a
                        class="has-text-weight-semibold" href="http://www.mathnet.ru/eng/person17845">DSc. Denis
                    Sidorov</a> and currently enrolled in a postgraduate program. Also, I'm working in collaboration
                with researchers from <i aria-hidden="true" class="fa-flask fas"></i> <a
                        class="has-text-weight-semibold" href="https://sites.google.com/view/inhapower">Intelligent
                    Power Grid Lab</a> of Inha University (Incheon, Republic of Korea).
            </div>
            <ol data-aos="fade-up" data-aos-delay="250"
                data-aos-anchor-placement="top-bottom" class="list-group list-group-numbered list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">The Impact of the Energy Storage System Operation Strategy on Power
                            Grid Reliability
                        </div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-user-graduate pe-1"></i>as 3rd author</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-book pe-1"></i>The Transactions of the Korean
                            Institute of Electrical Engineers
                        </div>
                        <div class="d-md-inline"><i class="fa-solid fa-link pe-1"></i><a target="_blank"
                                                                                         href="https://doi.org/10.5370/KIEE.2021.70.12.1820">DOI : 10.5370/KIEE.2021.70.12.1820</a>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">Q4 Scopus</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">The optimal allocation of distributed
                            generators considering fault current and levelized cost of energy using the particle swarm
                            optimization method</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-user-graduate pe-1"></i>as 2nd author</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-book pe-1"></i>Energies</div>
                        <div class="d-md-inline"><i class="fa-solid fa-link pe-1"></i><a
                                href="https://doi.org/10.3390/en14020418">DOI : 10.3390/en14020418</a>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">Q2 Scopus</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">A Study On The Effect of Energy Storage System Optimal Operation With
                            Distributed Generators On System Reliability</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-user-graduate pe-1"></i>as 3rd author</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-microphone-lines pe-1"></i>2021 International Conference on Electrical Machines and Systems</div>
                        <div class="d-md-inline"><i class="fa-solid fa-link pe-1"></i><a
                                href="https://ieeexplore.ieee.org/abstract/document/9634523">Paper</a>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">International</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">The optimal
                            operation of energy storage systems with distributed generators by using the data-based
                            prediction method</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-user-graduate pe-1"></i>as 2nd author</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-microphone-lines pe-1"></i>52nd KIEE Summer Conference 2021</div>
                        <div class="d-md-inline"><i class="fa-solid fa-link pe-1"></i><a
                                href="https://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE10609652">Paper</a>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">International</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Optimal Distributed Generation Selection Using Particle Swarm Optimization</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-user-graduate pe-1"></i>as 2nd author</div>
                        <div class="d-md-inline pe-1"><i class="fa-solid fa-microphone-lines pe-1"></i>2020 International Conference on
                            Electric-Vehicle, Smart Grid and Information Technology</div>
                        <div class="d-md-inline"><i class="fa-solid fa-link pe-1"></i><a
                                href="https://www.researchgate.net/publication/344287197_Optimal_Distributed_Generation_Selection_Using_Particle_Swarm_Optimization">Paper</a>
                        </div>
                    </div>
                    <span class="badge bg-primary rounded-pill">International</span>
                </li>
            </ol>
        </div>
    </div>
</section>