<section id="skills" class="p-3 p-lg-5">
  <div class="container">
    <div class="row">
      <h2 class="my-md-5 mb-3 text-center">I work on...</h2>
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="text-center">
          <img class="mb-3" src="img/frontend_blue.png" data-aos="fade-up" data-aos-delay="500" data-aos-anchor-placement="top-bottom" />
          <h4 class="mb-3" data-aos="fade-up" data-aos-delay="600" data-aos-anchor-placement="top-bottom">Front End</h4>
          <div class="tags mb-3 has-text-weight-semibold" data-aos="fade-up" data-aos-delay="700" data-aos-anchor-placement="top-bottom">
            <span class="tag js">JavaScript</span>
            <span class="tag vuejs">Vue.js</span>
            <span class="tag dojo">Dojo</span>
          </div>
          <div data-aos="fade-up" data-aos-delay="800" data-aos-anchor-placement="top-bottom">I create front-end in JS and Dojo and learn Vue.js</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="text-center">
          <img class="mb-3" src="img/backend_blue.png" data-aos="fade-up" data-aos-delay="800" data-aos-anchor-placement="top-bottom" />
          <h4 class="mb-3" data-aos="fade-up" data-aos-delay="900" data-aos-anchor-placement="top-bottom">Back End</h4>
          <div class="tags mb-3 has-text-weight-semibold" data-aos="fade-up" data-aos-delay="1000" data-aos-anchor-placement="top-bottom">
            <span class="tag java">Java</span>
            <span class="tag hibernate">Hibernate</span>
            <span class="tag spring">Spring</span>
            <span class="tag kotlin">Kotlin</span>
            <span class="tag docker">Docker</span>
          </div>
          <div data-aos="fade-up" data-aos-delay="1100" data-aos-anchor-placement="top-bottom">I develop web apps using Java & Kotlin using modern frameworks like Spring and Hibernate</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-3">
        <div class="text-center">
          <img class="mb-3" src="img/ai_blue.png" data-aos="fade-up" data-aos-delay="1100" data-aos-anchor-placement="top-bottom" />
          <h4 class="mb-3" data-aos="fade-up" data-aos-delay="1200" data-aos-anchor-placement="top-bottom">Machine Learning</h4>
          <div class="tags mb-3   has-text-weight-semibold" data-aos="fade-up" data-aos-delay="1300" data-aos-anchor-placement="top-bottom">
            <span class="tag tensorflow">Tensorflow</span>
            <span class="tag pytorch">PyTorch</span>
            <span class="tag opencv">OpenCV</span>
          </div>
          <div data-aos="fade-up" data-aos-delay="1400" data-aos-anchor-placement="top-bottom">I work on the Ph.D. thesis in machine learning applied to renewable energy</div>
        </div>
      </div>
    </div>
  </div>
</section>